<html>
    <body>
    {% extends "header.html" %}
    {% block content %}
    <h1 class="display-2">Completed:</h1>
    {% for event in events %}
    <div class="container-fluid">
    <p class="text-lowercase text-justify">{{event.name}}</p>
    <form method="POST" action="./delete">
        <input type="hidden" value=" {{event.name}}" name="name">
        <input class="btn btn-outline-danger" type="submit" value="Delete">
    </form>
    </div>
    {% endfor %}
    {% endblock %}
    </body>
</html>