<html>
<head>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <a class="navbar-brand">RomQueue</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{url_for('home') }}">Home</a></li>
                <li><a href="{{url_for('rand') }}">Random</a></li>
                <li><a href="{{url_for('completed') }}">Completed</a></li>
            </ul>
        </nav>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>